.hero{
    display: flex;
    justify-content: space-between;
}
.left--h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
}
.hero--blure{
    width: 22rem;
    height: 30rem;
    left: 0;
}
.h{
    display: flex;
}
@media screen and (max-width: 768px) 
{
    * {
        position: relative;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
    .hero--blure{
        width: 14rem;
    }
    .the--best--ad{
        margin-top: 0;
        padding: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.8);
    }
    .hero--text {
        font-size: 10px;
        align-items: center;
        justify-content: center;
    }
}