.main{
    top: 1rem;
}
.main--cards > div{
    cursor: pointer;    
}
.main--cards > div:hover{
    background-color: var(--orange);
}
.main--cards > div > :nth-child(1){
    width: 2rem;
    height: 2rem;
    fill: white;
}
.main--cards > div > :nth-child(3){
    font-size: 0.9rem;
    line-height: 25px;
}
