.reasons{
    display: flex;
    padding: 2rem;
    gap: 1rem;
}
.pics{
    gap: 4rem;
    display: flex;
    width: 50%;
}
.rightDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.buttomDiv{
    display: flex;
    gap: 2rem;
}
.image1{
    width: 12rem;
    height: 28rem;
}
.image2{
    width: 25rem;
    height: 16rem;
}
.image3{
    width: 14rem;
    height: 11rem;
}
.image4{
    width: 10rem;
    height: 11rem;
}
.lists{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: 50%;
}
.lists > :nth-child(1){
    color: var(--orange);
}
.partner{
    margin-top: -1rem;
    color: var(--gray);
    font-weight: normal;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.brand{
    display: flex;
    gap: 1rem;
}
.brand > img{
    width: 2.5rem;
    height: 1.75rem;
}
.tick > img{
    margin-bottom: 1rem;
    width: 2rem;
}